table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
th {
  background: #1976d2;
  color: white;
}
 
th, td {
  padding: 12px;
  text-align: center;
}