.hero{
  height: 80vh;
  background: linear-gradient(120deg,#e3f2fd,#ffffff);
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.hero-content{
  max-width: 500px;
  padding: 30px;
}
 
.hero-content h1{
  font-size: 44px;
  color: #0d47a1;
}
 
.hero-content p{
  margin: 15px 0 30px;
  font-size: 18px;
  color: #555;
}
 
.btn-hero{
  padding: 12px 25px;
  font-size: 16px;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
 
.btn-hero:hover{
  background:#125aa3;
}
 
.hero-image img{
  width: 420px;
  border-radius: 12px;
}